* {
    box-sizing: border-box;
}

body {
   font-family: 'Merriweather', serif;
   font-size: 15px;
   margin: 0 auto;
}

 .w-text {
     color: rgb(189, 186, 186);
 }

  .b-text, label {
      color: #2E3846;
  }
/********* HEADER **********/
header {
    background: #2E3846;
    border: 1px solid #2E3846;
    color:  white;
    text-align: center;
}

h1 {
    padding: 12px 14px;
    font-size: 20px;
    text-transform: uppercase;
}

/******** NEWSLETTER-HEADER **********/
.sign-up {
    /* border-bottom: 6px double #2E3846; */
    text-align: center;
    padding: 10px;
}

/******** CONTACT-FORM *********/
#container {
    padding-top: 15px;
    max-width: 768px;
    margin: 0 auto;
}

form {
    border-top: 6px double #2E3846;
    padding-top: 25px;
}

legend {
    font-size: 18px;
    font-weight: 700;
}

.contact-info {
    border: none;
    margin: 15px auto;
    border-bottom: 2px solid #2E3846;
    padding-top: 25px;
    padding-bottom: 35px;  
}

.contact-info, .cont {
    background-color: #68bfc2;
    border-radius: 5px;
}
.contact-info .flex-pair {
    display: flex;
    flex-direction: column;
}

.contact-info input,
.contact-info select {
    width: 100%;
}

#name::placeholder,
#email::placeholder {
    color: rgb(189, 186, 186);
    font-style: italic;
    margin-bottom: 10px;
    padding-right: 5px;
    text-align: end;
}
input::placeholder {
    color: rgb(189, 186, 186);
    font-family: 'Merriweather', serif;
}

textarea::placeholder {
    color: rgb(189, 186, 186);
    font-size: 17px;
    font-style: italic;
    margin: 0;
}

input, select, textarea {
    padding: 1.0rem;
    background-color: #e8eeef;
    border: none;
    border-radius: 5px;
    margin-bottom: 8px;
    opacity: 1;
    transition: 0.3s;
}

input:focus, select:focus, textarea:focus {
    border: 2px solid rgb(8, 7, 7);
    background-color: rgb(253, 248, 229);
}

input:hover, select:hover, textarea:hover {
    background-color: rgb(253, 248, 229);
    border-radius: 5px;
    box-shadow: 0px 0px 12px rgba(59, 61, 59, 0.8);
}

#zip {
    width: 50%;
}

#state {
    color: rgb(189, 186, 186);
    font-family: 'Merriweather', serif;
}

/******* NEWS-FORM *******/
.news-info {
    border: none;
    line-height: 2em;
}

.newsletter {
    padding-top: 20px;
}

.news-info label {
    display: block;
    margin: 6px 0 6px 0;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    display: inline;
	padding-left: 15px;
}

textarea {
    width: 100%;
    padding: 35px;
}

button {
    background: #52babe;
    border: none;
    border-radius: 5px;
    color: white;
    display: block;
    font-family: 'Merriweather', serif;
    font-size: 25px;
    font-weight: 700;
    padding: 20px;
    width: 100%;
}

/********* FOOTER **********/
footer {
    text-align: center;
}

/* MEDIA QUERIES 760PX */
@media (min-width: 768px) {
    
    .contact-info .flex-pair {
        display: flex;
        flex-direction: row;
    }

    .flex-pair label {
        flex-basis: 25%;
    }

    .flex-pair input, select {
        flex-basis: 75%;
    }

    #zip {
        flex-basis: 25%;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"] {
        margin-top: 5px;
    }

}