* {
    box-sizing: border-box;
}

body {
   font-family: 'Merriweather', serif;
   font-size: 15px;
   margin: 0 auto;
   max-width: 768px;
}

/********* HEADER **********/
header {
    background: #2E3846;
    border: 1px solid #2E3846;
    color:  white;
    text-align: center;
}

h1 {
    padding: 0 10px 0 10px;
    text-transform: uppercase;
}

/******** NEWSLETTER-HEADER **********/
.sign-up {
    /* border-bottom: 6px double #2E3846; */
    text-align: center;
    padding: 10px;
}

/******** CONTACT-FORM *********/
form {
    border-top: 6px double #2E3846;
}

legend {
    font-size: 18px;
    font-weight: 700;
}

.contact-info {
    border: none;
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    border-bottom: 2px solid #2E3846;
}

input::placeholder {
    color: rgb(189, 186, 186);
    font-style: italic;
    margin-bottom: 10px;
    text-align: end;
}

input,
select,
textarea {
    padding: 1.0rem;
    background-color: #e8eeef;
    border: none;
    border-radius: 5px;
    margin-bottom: 8px;
}

input:focus {
    color: #2E3846;
}

#zip {
    width: 25%;
}

#state {
    color: rgb(189, 186, 186);
    font-family: 'Merriweather', serif;
}

/******* NEWS-FORM *******/
.news-info {
    border: none;
    line-height: 2em;
}

.news-info label {
    display: block;
    margin: 6px 0 6px 0;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    display: inline;
	padding-left: 15px;
}

textarea {
    width: 100%;
    padding: 35px;
}

button {
    background: #52babe;
    border: none;
    border-radius: 5px;
    color: white;
    display: block;
    font-family: 'Merriweather', serif;
    font-size: 25px;
    font-weight: 700;
    padding: 20px;
    width: 100%;
}

/********* FOOTER **********/
footer {
    text-align: center;
}

/* MEDIA QUERIES 760PX */
@media (min-width: 768px) {
    /* #container {
        margin: 0 auto;
        width: 70%;
    } */
}